header{
  display: flex;
  border-bottom: 1px solid black;
  font-weight: bold;
  width: 100%;
  justify-content: space-between;
}

header div img{
  display: inline-block;
}

header div h1{
  position: relative;
  display: inline-block;
  bottom: 25%

}
header li{
  display: inline-block;
  padding: 10px;
}

header a{
  color: black;
}

header h1{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  padding-left: 15px;
}
